.header{
    .navbar_navbar-expand-lg_navbar-light_bg-light_fondo-header¨{
        background: rgba(255, 255, 255, 0.5);
        .container-fluid{
            .navbar-brand_titulo{
                font-family: $fuente-carta;
                font-size: xx-large;
            }
        }
    }
}
.header img{
    width: 1200px;
}
